.primary-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.Polaris-Checkbox__Backdrop::after {
    pointer-events: painted;
}

#baby-new-hide thead .Polaris-Checkbox {
    display: none;
}

#don .Polaris-ResourceList__ResourceListWrapper .Polaris-ResourceList__HeaderOuterWrapper {
    display: none;
}

#testhideid .Polaris-IndexTable__ColumnHeaderCheckboxWrapper {
    display: none;
}

#mother-order .Polaris-Checkbox {
    display: none;
}

/* Styles for the transition effect */
.collpse {
    overflow: hidden;
    transition: 0.3s ease-in-out;
    /* Adjust the duration as needed */
}

.collpse {
    max-height: none;
    overflow: auto;
    transition: 0.3s ease-in-out;
    /* Adjust the duration as needed */
}

.error-message {
    color: red;
}

@media (min-width: 48em) {
    .Polaris-Text--heading2xl {
        font-size: var(--p-font-size-500);
        line-height: var(--p-font-line-height-5);
        margin: 0 20px;
    }
}

@media (min-width: 48em) {
    .Polaris-Text--heading3xl {
        font-size: var(--p-font-size-600);
        line-height: var(--p-font-line-height-6);
        margin: 0 20px;
    }
}

#testhideid .Polaris-Checkbox {
    display: none;
}

.Polaris-Frame {
    min-height: 0px !important;
}

#baby-new-hide .Polaris-LegacyCard {
    width: 110%;
}

#mother-html .Polaris-IndexTable-ScrollContainer {
    overflow-x: scroll !important;
}

#mother-html .Polaris-IndexTable-ScrollContainer {
    overflow-x: scroll !important;
}

#mother-html .Polaris-IndexTable-ScrollContainer::-webkit-scrollbar {
    width: 9px;
    display: block !important;
}

#mother-html .Polaris-IndexTable-ScrollContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#mother-html .Polaris-IndexTable-ScrollContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}

/* Handle on hover */
#mother-html .Polaris-IndexTable-ScrollContainer::-webkit-scrollbar-thumb:hover {
    background: #abb1ba;
    border-radius: 0.5rem;
}

/* #mother-html tr {
    height: 37px  !important;
} */

#mother-html #zero-action .Polaris-ButtonGroup {
    width: 84px !important;
}

#mother-html #first-action .Polaris-ButtonGroup {
    width: 56px !important;
}

#align-identi .Polaris-Page-Header__Row {
    display: block;
}








.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }